.wrap_header
{
    width: 100%;
 
}

.search_logo_cart
{
    
 
    width: 100%;
    padding: 25px 60px;
  
    display: flex;
}
.box_form
{
    width: 25%;
   
  
}
.box_form input[type=text] {

    margin-top: 2px;
    line-height: 30px;
    border-radius: 5px;
  }

.logo_header 
{
      width: 50%;
 
}
.box_sizelogo
{
    width: 140px;
    height: 40px;
  margin: 0 auto;
}
.icon_cart
{
    width: 25%;

}
.icon_cart .iconcart
{
    float: right;
    font-size: 22px;
    margin-top: 8px;
}

/*-------------------------- MENU -------------------------*/
.main_menu
{
    width: 100%;
    height: auto;
    background: rgb(0, 0, 0);
}

.main_menu .navbar {

    padding: 0px;
}
.main_menu  .navbar .nav-one ul li
{
    padding: 15px 25px;

}
.main_menu  .navbar .nav-one ul li .nav-link
{
    color: white;
}
.main_menu .navbar .nav-one .navbar-nav .menu-item .dropdown-menu .menu-item .sub-menu-a:hover
{
    cursor: pointer;
}
.main_menu  .navbar .nav-one ul li:hover
{
    background: rgb(241, 239, 239);
}
.main_menu  .navbar .nav-one ul li:hover .nav-link
{
   color: black;

}

.main_menu  .navbar .nav-one ul li:hover .dropdown-menu
{
display: block;

}
.main_menu  .navbar .nav-one ul li  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background: rgb(241, 239, 239);
    background-clip: padding-box;
   
    border-radius: 0px;
}
.main_menu  .navbar .nav-one ul li .dropdown-menu li:hover
{
background: white;
}





