.wrap_slidebanner
{
    width: 100%;
    height: 380px;


}
.changesize
{
    width: 100%;
    height: 380px;

  

    background-size: cover;
    background-position: 50%;
}
.size-imslide
{
      width: 100%;
    height: 100%;

  

    background-size: cover;
    background-position: 50%;
}
.owl-nav ,.owl-dots
{
    display: none;
}